# Node modules
node_modules/

# NeDB local database
*.db
*.db~

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# dotenv
.env

# IDE (VSCode)
.vscode/


# OS і backup файли
Thumbs.db
*.swp
*.swo
*~

# Heroku build artifacts
.heroku/

public/photos/courses/